.container
  .article
  %h1.article_title= @board.name
  .article_detail
    プロフィール画像を表示する
  .article_content
    = @board.description
  .article_detail_actions
  .dropdown
    = image_tag 'actions.svg', class: 'dropbtn'
    .dropdown-content.mini
      = link_to '編集する' , edit_article_path(@article)
      = link_to '削除する' , article_path(@article), data: { method: 'delete' , confirm: '本当に削除してもよろしいですか？' }