.container
  .article
    %h1= @board.name
    %p= @board.description
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to 'Edit' , edit_board_path(@board)
        = link_to 'Delete' , board_path(@board), data: { method: 'delete' , confirm: '本当に削除してもよろしいですか？' }
    .card_detail
      = image_tag @board.user.avatar_image

  %h1 タスク一覧
  - @tasks.each do |task|
    = link_to board_task_path(@board.id, task.id) do
      .article
        %h2= task.title
        %p= task.description

  = link_to new_board_task_path(@board) do
    .article_new
      .article_new_content + Add new task

